doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    title Footer
  body
    footer
      .contacts
        .contacts-item
          b Телефон
          a(href="tel:+123-45-67") 123-45-67
        .contacts-item
          b Электронная почта
          a(href="mailto:email@gmail.com") email@gmail.com
      .social
        |
        |
        a.social-item
          img.icon1(src="@img/twitter.png", alt="Twitter")
        |
        |
        a.social-item
          img.icon2(src="@img/facebook.png", alt="Facebook")
        |
        |
        a.social-item
          img.icon3(src="@img/vk.png", alt="Vkontakte")
        |
        |
        a.social-item
          img.icon4(src="@img/instagram.png", alt="Instagram")
      form(action="")
        input(type="text", placeholder="Ваше имя")
        input(type="tel", placeholder="Ваш телефон")
        input(type="submit", value="Записаться")
        p Наш менеджер свяжется с вами в течении дня


    script(src="js/app.min.js") 