@media (max-width: 1012px) {
  footer {
    height: 412px;
  }
  .wrapper {
    width: 758px;
    height: 276px;
    grid-template-columns: 210px 502px;
    grid-template-areas: 'cnts scl' 'cnts frm';
    grid-column-gap: calc(758px - 210px - 502px);
    grid-row-gap: calc(276px - 64px - 170px);
  }
  .contacts {
    height: 170px;
  }
  .social {
    width: 394px;
    height: 64px;
  }
  form {
    height: 170px;
  }
}

@media (max-width: 778px) {
  footer {
    height: 804px;
  }
  .wrapper {
    width: 394px;
    height: 572px;
    grid-template-columns: 1fr;
    grid-template-areas: 'scl' 'cnts' 'frm';
    grid-row-gap: calc((572px - 64px - 66px - 330px) / 2);
  }
  .social-item:nth-child(4) {
    order: -1;
  }
  .contacts {
    height: 66px;
    flex-direction: row-reverse;
  }
  form {
    height: 330px;
    flex-direction: column;
    input {
      width: 100%;
    }
    .submit {
      width: 224px;
      order: 1;
    }
    p {
      margin-left: 10px;
    }
  }
}

@media (max-width: 499px) {
  footer {
    height: 804px;
  }
  .wrapper {
    max-width: 394px;
    width: 96vw;
  }
  .social {
    width: 100%;
  }
  .contacts {
    width: 100%;
  }
}
