$wrapper-width: 758px;
$contacts-width: 210px;
$form-width: 502px;
$wrapper-height: 276px;
$contacts-height: 170px;
$social-height: 64px;

@media (max-width: 1012px) {
  footer {
    height: 412px;
  }

  .wrapper {
    height: $wrapper-height;
    grid-template-columns: 210px 502px;
    grid-template-areas: 'contacts social' 'contacts form';
    grid-column-gap: $wrapper-width - $contacts-width - $form-width;
    grid-row-gap: $wrapper-height - $social-height - $contacts-height;
  }
  .contacts {
    height: $contacts-height;
  }
  .social {
    width: 394px;
    height: $social-height;
  }
  form {
    height: 170px;
  }
}

$wrapper-height: 572px;
$contacts-height: 66px;
$form-height: 330px;

@media (max-width: 778px) {
  footer {
    height: 804px;
  }

  .wrapper {
    width: 394px;
    height: 572px;
    grid-template-columns: 1fr;
    grid-template-areas: 'social' 'contacts' 'form';
    grid-row-gap: (
        $wrapper-height - $social-height - $contacts-height - $form-height
      ) / 2;
  }
  .social-item:nth-child(4) {
    order: -1;
  }
  .contacts {
    height: $contacts-height;
    flex-direction: row-reverse;
  }
  form {
    height: $form-height;
    flex-direction: column;
    input {
      width: 100%;
    }
    .submit {
      width: 224px;
      order: 1;
    }
    p {
      margin-left: 10px;
    }
  }
}

@media (max-width: 499px) {
  footer {
    height: 804px;
  }
  .wrapper {
    max-width: 394px;
    width: 96vw;
  }
  .social {
    width: 100%;
  }
  .contacts {
    width: 100%;
  }
}
