@import 'fonts.scss';
@import 'colors.scss';
@import 'media.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  font-size: 18px;
  font-family: 'NotoSans', sans-serif;
  color: var(--text-color);
}

footer {
  max-width: 1440px;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg-color);
}

$wrapper-width: 992px;
$cont-width: 210px;
$soc-width: 174px;
$form-width: 502px;

.wrapper {
  width: var(--wrapper-width);
  height: 170px;
  display: grid;
  grid-template-columns: $cont-width $soc-width $form-width;
  grid-template-areas: 'contacts social form';
  grid-column-gap: ($wrapper-width - $cont-width - $soc-width - $form-width) / 2;
}

.contacts {
  grid-area: contacts;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-item {
    display: flex;
    flex-direction: column;
    text-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
  }
  b {
    font-size: 20px;
    line-height: 2.2;
    color: var(--accent-color);
  }
  a {
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s ease-in-out;
    &:hover {
      color: var(--brand-color);
    }
  }
}

.social {
  grid-area: social;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 3px solid var(--brand-color);
    border-radius: 50%;
    background-color: var(--brand-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: var(--light-color);
      use {
        fill: var(--brand-color);
      }
    }
  }
  .icon {
    &1 {
      width: 32px;
      height: 26px;
    }
    &2 {
      width: 28px;
      height: 28px;
    }
    &3 {
      width: 34px;
      height: 21px;
    }
    &4 {
      width: 28px;
      height: 28px;
    }
  }
  use {
    fill: var(--light-color);
    transition: 0.3s ease-in-out;
  }
}

form {
  grid-area: form;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  input {
    width: 224px;
    height: 58px;
    padding-left: 30px;
    border-radius: 37px;
    border: 3px solid var(--light-color);
    background-color: var(--light-color);
    font-size: inherit;
    transition: 0.3s ease-in-out;
    outline: none;
    &:focus {
      filter: brightness(0.95);
      transition: 0.3s ease-in-out;
    }
  }
  .submit {
    padding: 0;
    border: 3px solid var(--brand-color);
    background-color: var(--brand-color);
    color: var(--light-color);
    &:hover {
      background-color: var(--light-color);
      color: var(--brand-color);
      font-weight: 500;
    }
  }
  p {
    width: 224px;
    line-height: 1.6;
  }
}
