@import 'fonts.scss';
@import 'assets.scss';
@import 'media.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333;
  font-size: 18px;
  font-family: 'NotoSans', sans-serif;
  color: $text-color;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-areas: 'cnts scl frm';
  grid-column-gap: 10px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 200px;
  background-color: #faf0d7;
}

.contacts {
  grid-area: cnts;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &-item {
    display: flex;
    flex-direction: column;
    text-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
  }
  b {
    font-size: 20px;
    line-height: 2.2;
    color: #435fdd;
  }
  a {
    font-weight: 500;
    color: $text-color;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    &:hover {
      color: $main-color;
    }
  }
}

.social {
  grid-area: scl;
  width: 174px;
  height: 180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 3px solid $main-color;
    border-radius: 50%;
    background-color: $main-color;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    &:hover {
      background-color: #ffffff;
      use {
        fill: $main-color;
      }
    }
  }
  .icon {
    &1 {
      width: 32px;
      height: 26px;
    }
    &2 {
      width: 28px;
      height: 28px;
    }
    &3 {
      width: 34px;
      height: 21px;
    }
    &4 {
      width: 28px;
      height: 28px;
    }
  }
  use {
    fill: #ffffff;
    transition: 0.3s ease-in-out;
  }
}

form {
  grid-area: frm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  input {
    width: 224px;
    height: 58px;
    padding-left: 30px;
    border-radius: 37px;
    border: 3px solid #ffffff;
    background-color: #ffffff;
    font-size: inherit;
    transition: 0.3s ease-in-out;
    outline: none;
    &:focus {
      filter: brightness(0.95);
      transition: 0.3s ease-in-out;
    }
  }
  .submit {
    padding: 0;
    border: 3px solid $main-color;
    background-color: $main-color;
    color: #ffffff;
    &:hover {
      background-color: #ffffff;
      color: $main-color;
      font-weight: 500;
    }
  }
  p {
    width: 224px;
    line-height: 1.6;
  }
}
